



.form-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Itim', cursive;
    width: 100%;
   
   
    
}

.form-group {
    border: 10px solid gray;
    border-bottom: 2px solid #DADCE0;
    border-top:  2px solid #DADCE0;
    padding:1rem;
}

input {
    margin: 1rem;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    padding: 0.4rem;
    font-family: 'Itim', cursive;
    font-size: 1.5rem;
   
}


.submit-btn {
    margin-top: 1rem;
}

h3 {
    margin: 0px;
   
    padding:0px;
    
}

.logout-btn{
    float: right;
    margin: 1rem;
   
}

