.contact-box {
    color:black;
    font-family: 'Itim', cursive;
    padding: 1rem;
    
}

.new-text {
    color:green;
}

.contact-info {
    font-weight: bold;
}

.card {
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
}

